*, *:before, *:after {
    box-sizing:border-box;
}

.table-container {
    max-width: 1000px;
    margin-right:auto;
    margin-left:auto;
    display:flex;
    justify-content:center;
    align-items:center;
}

.table {
    width:100%;
    border:1px solid #EEEEEE;
}

.table-header {
    display:flex;
    width:100%;
    background:#000;
    padding:18px;
}

.header__item {
    color: white;
    position: relative;
    display: inline-block;
}

.table-row {
    display: flex;
    width: 100%;
    padding: 18px;
}

.table-row:nth-of-type(odd) {
    background:#EEEEEE;
}


.table-data, .header__item {
    text-align:center;
    padding:0.5%;
}

.options {
    width: 10%;
}

.title {
    width: 70%;
}

.mainAuthorName {
    width: 20%;
}

