
<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <data-source>
    <name>java:ds/bookshareDS</name>
    <class-name>com.mysql.cj.jdbc.MysqlDataSource</class-name>
    <url>jdbc:mysql://0.0.0.0:3337/bookshare?useLegacyDatetimeCode=false&amp;serverTimezone=Europe/Warsaw</url>
    <user>root</user>
    <password>root</password>
  </data-source>
</web-app>
<request-character-encoding>UTF-8</request-character-encoding>
